<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>PAS API</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper" style="background:#555;">
                <a class="brand-logo center">PAS API</a>
            </div>
        </nav>
        <ul class="collection">
            <li class="collection-item">
                <div>GET: product</div>
                <div class="collection-item">http://localhost:5000/pas/api/product/:id</div>
            </li>
            <li class="collection-item">
                <div>POST: quote</div>
                <div class="collection-item">http://localhost:5000/pas/api/quote</div>
            </li>
            <li class="collection-item">
                <div>POST: API token</div>
                <div class="collection-item">http://localhost:5000/admin/getToken</div>
            </li>
        </ul>
    </div>

</body>

</html>